.App-logo {
  max-width: 200px;
  display: block;
  margin: 0 auto;
}
.App-footer {
  text-align: center;
  margin: 10px;
}
body {
  background: #f9f8fe;
}
a {
  color: #9670f4;
}
.App {
  max-width: 860px;
  display: block;
  margin: 0 auto;
}
@media (max-width: 900px) {
  h1 {
    font-size: 24px;
  }
}
